@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #fff;

  --color-gray-100: #F5F4F5;
  --color-gray-200: #B2AFB6;
  --color-gray-300: #98959D;
  --color-gray-400: #7A767F;
  --color-gray-500: #3E3C41;
  --color-gray-600: #2E2C30;
  --color-gray-700: #232225;
  --color-gray-800: #19181B;
  --color-gray-900: #050505;

  --collor-yellow-light: #DBC170;
  --collor-yellow-light: #B8952E;
  --collor-yellow-light: #846F2E;

  --font-sans: "Catamaran", sans-serif;
}

body {
  background-color: var(--color-gray-800);
  color: var(--color-gray-300);
}